<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Classess.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>Servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jobseeklogin</servlet-name>
        <servlet-class>Servlets.jobseeklogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newuserpersonal</servlet-name>
        <servlet-class>Servlets.newuserpersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateusereduudet</servlet-name>
        <servlet-class>Servlets.updateusereduudet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEducationDet</servlet-name>
        <servlet-class>Servlets.UpdateEducationDet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserSkill</servlet-name>
        <servlet-class>Servlets.UpdateUserSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserExp</servlet-name>
        <servlet-class>Servlets.UpdateUserExp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientLogin</servlet-name>
        <servlet-class>Servlets.NewClientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewClientReg</servlet-name>
        <servlet-class>Servlets.NewClientReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewJobReg</servlet-name>
        <servlet-class>Servlets.NewJobReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProj</servlet-name>
        <servlet-class>Servlets.UpdateUserProj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateResume</servlet-name>
        <servlet-class>Servlets.UpdateResume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyJobs</servlet-name>
        <servlet-class>Servlets.ApplyJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShortList</servlet-name>
        <servlet-class>Servlets.AdminShortList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobProviderLogin</servlet-name>
        <servlet-class>Servlets.JobProviderLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateexclient</servlet-name>
        <servlet-class>Servlets.updateexclient</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jobseeklogin</servlet-name>
        <url-pattern>/jobseeklogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newuserpersonal</servlet-name>
        <url-pattern>/newuserpersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateusereduudet</servlet-name>
        <url-pattern>/updateusereduudet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEducationDet</servlet-name>
        <url-pattern>/UpdateEducationDet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserSkill</servlet-name>
        <url-pattern>/UpdateUserSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserExp</servlet-name>
        <url-pattern>/UpdateUserExp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientLogin</servlet-name>
        <url-pattern>/NewClientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewClientReg</servlet-name>
        <url-pattern>/NewClientReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewJobReg</servlet-name>
        <url-pattern>/NewJobReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProj</servlet-name>
        <url-pattern>/UpdateUserProj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateResume</servlet-name>
        <url-pattern>/UpdateResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyJobs</servlet-name>
        <url-pattern>/ApplyJobs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShortList</servlet-name>
        <url-pattern>/AdminShortList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobProviderLogin</servlet-name>
        <url-pattern>/JobProviderLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateexclient</servlet-name>
        <url-pattern>/updateexclient</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
    frameall.htm    
    </welcome-file>
    </welcome-file-list>
</web-app>
